<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Visualizar Nota de Projeto</div>
                <div class="panel-body">
                    <dl>
                        <dt>Título</dt>
                        <dd>{{ projectNote.title }} &nbsp;</dd>
                        <dt>Nota</dt>
                        <dd>{{ projectNote.note }} &nbsp;</dd>          
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>