<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Visualizar Cliente</div>
                <div class="panel-body">
                    <dl>
                        <dt>Nome</dt>
                        <dd>{{ client.name }} &nbsp;</dd>
                        <dt>Responsável</dt>
                        <dd>{{ client.responsible }} &nbsp;</dd>
                        <dt>E-mail</dt>
                        <dd>{{ client.email }}&nbsp;</dd>
                        <dt>Telefone</dt>
                        <dd>{{ client.phone }}&nbsp;</dd>
                         <dt>Endereço</dt>
                        <dd>{{ client.address }}&nbsp;</dd>
                        <dt>Observação</dt>
                        <dd>{{ client.obs }}&nbsp;</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>